@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>My Portfolio</title>
        <link rel="stylesheet" href="site.css" />
        <script src="https://kit.fontawesome.com/19d278c2a6.js" crossorigin="anonymous"></script>
    </head>
<body>
    <header class="header">
        <a class="logo">Alexa Kunnummyalil</a>
            <ul class="nav-links">
                <li><a href="#about">About</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <i class="fa-solid fa-bars" id="menu-icon"></i>
            <button class="visit-btn">Visit Github</button>
    </header>

  <section id="about" class="about">
        <div class="about-container">
            <img src="./assets/profile_pic.jpg"
                 alt="Profile picture"
                 class="about-pic" />
        <div class="info-box">
             <div class="text">
                 <h3>Hi,I'm</h3>
                 <h1>Alexa K</h1>
                 <span>Full Stack Developer</span>
             </div>

            <div class="btn-group">
                <button class="btn"
                        onclick="window.open('./assets/AlexaK_resume012025.pdf')">
                    Download CV
                </button>
                <button class="btn" onclick="location.href='./#contact'">
                    Contact
                </button>
            </div>
            <div id="socials-container">
                <i class="fa-brands fa-github fa-2xl icon fa-fade" onclick="location.href='https://github.com/'"></i>
            </div>
            </div>
        </div>
        </section>


     <section id="experience" class="experience">
        <h2 class="section-title">Experience</h2>
        <div class="experience-info">
            <div class="grid">
                <div class="grid-card">
                    <i class="fa-solid fa-laptop  fa-2xl"></i>
                    <span>Technical Skills</span>
                    
                    <li>PHP</li>
                    <li>Laravel</li>
                    <li>Javascript</li>
                    <li>C#</li>
                    <li>MVC</li>

                </div>
                <div class="grid-card">
                    <i class="fa-solid fa-laptop  fa-2xl"></i>
                    <span>Technical Skills</span>
                    <li>ColdFusion</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Bootstrap</li>

                </div>
                <div class="grid-card">
                    <i class="fa-solid fa-laptop  fa-2xl"></i>
                    <span>Technical Skills</span>
                    <li>ASP.Net</li>
                    <li>Dev Express</li>
                    <li>MSSQL</li>
                    <li>MySQL</li>
                </div>
                <div class="grid-card">
                    <i class="fa-solid fa-laptop  fa-2xl"></i>
                    <span>Technical Skills</span>
                    <li>PostgreSQL</li>
                    <li>Git</li>
                    <li>API</li>
                    <li>Ajax</li>
                    <li>AWS</li>

                </div>
            </div>

            <img src="./assets/profile_pic.jpg" />

            </div>
    </section>
    <section id="projects" class="projects">
        <h2 class="section-title">Projects</h2>
        <div class="projects-grid">
            <div class="project-card">
                <img src="./assets/project-1.png"
                     alt="Project 1"
                    <h3>Travel Blog</h3>
                <div class="btn-group">
                    <div class="btn" onclick="location.href='https://github.com/'">Live Demo</div>
                    <div class="btn" onclick="location.href='https://github.com/'">Github Repo</div>
                </div>
            </div>
            <div class="project-card">
                <img src="./assets/project-2.png"
                     alt="Project 2"
                <h3>AWS</h3>
                <div class="btn-group">
                    <div class="btn" onclick="location.href='https://main.d30sgj3uti0od9.amplifyapp.com/'">Live Demo</div>
                    <div class="btn" onclick="location.href='https://github.com/AlexaKunn/wildrydes-site'">Github Repo</div>
                </div>
            </div>

            <div class="project-card">
                <img src="./assets/project-1.png"
                     alt="Project 1"
                <h3>PHP</h3>
                <div class="btn-group">
                    <div class="btn">Live Demo</div>
                    <div class="btn">Github Repo</div>
                </div>

            </div>


            </div>
        </section>

        <section class="contact" id="contact">
            <div class-"input-box">
                <h2 class="section-title">Contact Me</h2>
                <div class="input">

                <p><a class="contact-a" href="mailto:alexakunnummyalil@gmail.com">alexakunnummyalil@gmail.com</a></p>

            </div>
        </section>

    <footer>
                <ul class="nav-links">
                    <li><a href="#about">About</a></li>
                    <li><a href="#experience">Experience</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
        <p class="copyright">Copyright &#169; 2025 Alexa Kunnummyalil. All Rights Reserved.</p>
    </footer>
    <script src="site.js"></script>
</body>
</html>
